# Custom CSS

# TODO make sure that the original theme's styles are not overridden
div {
    margin: 0px;
}

* {
    font-size: 1em;
}

div#default-carousel {
    margin-bottom: 20px;
}

#default-carousel img{
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: content-box;
}