<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-around">
    <img src="https://split--eclectic-capybara-5e75c2.netlify.app/images/Tree-only-1.webp" alt="Parkgrove Tree icon" title="Parkgrove Counselling Logo" width="57" height="51">
  </div>
  <div class="flex justify-around">
    <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
      &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
    </a>
  </div>
</footer>
